<header class="site-header">
	<div class="branding flow-nav">
		<h1 class="site-title">
			<a href="{{ site.baseurl }}/">
				{{ site.title }}
			</a>
		</h1>
	</div>
	<nav class="site-nav flow-nav">
		<ul class="flow-nav">
			{% for page in site.pages %}
			{% if page.layout == 'page' and page.hide != true %}
			<li class="flow-nav">
				<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
			</li>
			{% endif %}
			{% endfor %}
			<li class="flow-nav">
				<a href="{{ "/feed.xml" | prepend: site.baseurl }}" title="{{ site.str_rss_follow }}">
					<i class="fa fa-fw fa-rss"></i>
				</a>
			</li>
		</ul>
	</nav>
</header>
