.site-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 0.5em;
    background-image: $light-texture;
    background-color: #525C65;
    box-shadow: 0 0 .2em .1em rgba(0,0,0,.2);
    a {
        color: $header-link-color;
    }
    a:hover {
        text-decoration: none;
    }
    .branding {
        .site-title {
            font-size: 1em;
            margin: 0;
        }
    }
    .site-nav {
        float: right;
    }
    .flow-nav {
        display: inline-block;
        margin: 0;
    }
    li.flow-nav {
        padding-left: 1em;
    }
}

#landscape {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background-image: $landscape-image;
    background-attachment: fixed;
    background-repeat: repeat-x;
    background-position: left bottom;
}

#page-container {
    height: 100%;
    margin: 4em 300px 1em 4em;
    @media (max-width: 800px) {
        margin: 4em 0 2em 0;
    }
}

@mixin box($background-color, $texture, $shadow-alpha) {
    border-radius: .1em;
    background-image: $texture;
    background-color: $background-color;
    padding: 0.5em;
    box-shadow: 0 0 .1em .1em rgba(0,0,0,$shadow-alpha);
}

@mixin dark-box($background-color) {
    @include box($background-color, $dark-texture, .2);
}

@mixin light-box($background-color) {
    @include box($background-color, $light-texture, .1);
}

@mixin lighter-box($background-color) {
    @include box($background-color, $lighter-texture, .1);
}

.underlay {
    @include dark-box(#c2b280);
    margin: 2em;
    @media (max-width: 800px) {
        margin: 0.5em;
    }
}

.content {
    @include lighter-box(#f8f8ff);
}

.pagination {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.nav-button {
    display: inline-block;
    width: 45%;
    text-align: center;
}

.no-nav {
    display: inline-block;
    color: grey;
    margin: 0;
}

#rex {
    position: fixed;
    bottom: 0;
    right: 0;
    @media (max-width: 800px) {
        display: none;
    }
}

.highlight {
    @include dark-box(#525C65);
    margin-bottom: 1em;
    color: #f8f8ff;
    word-wrap: normal;
}
