.site-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    padding: 0.5em;
    background-image: $dark-texture;
    background-color: green;
    box-shadow: 0 .05em .05em .05em rgba(0,0,0,.5);
    a {
        color: $header-link-color;
    }
    a:hover {
        text-decoration: none;
    }
    .branding {
        .site-title {
            font-size: 1em;
            margin: 0;
        }
    }
    .site-nav {
        float: right;
    }
    .flow-nav {
        display: inline-block;
        margin: 0;
    }
}

#page-container {
    padding: 1em 15em 1em 5em;
}

@mixin box($background-color, $texture, $shadow-alpha) {
    border-radius: .1em;
    background-image: $texture;
    background-color: $background-color;
    padding: 0.5em;
    box-shadow: 0 0 .05em .05em rgba(0,0,0,$shadow-alpha);
}

@mixin dark-box($background-color) {
    @include box($background-color, $dark-texture, .5);
}

@mixin light-box($background-color) {
    @include box($background-color, $light-texture, .1);
}

@mixin lighter-box($background-color) {
    @include box($background-color, $lighter-texture, .1);
}

.underlay {
    @include dark-box(#2ca05a);
    margin: 2em;
}

.content {
    @include lighter-box(#f8f8ff);
}
