.teaser {
    header {
        text-align: center;
        h1 {
            font-size: 1.5em;
            margin: 0.2em 0 0 0;
        }
        .meta {
            font-style: italic;
            font-size: 0.7em;
            color: lighten($text-color, 20%);
            margin-bottom: 0;
        }
    }
    main {
        font-size: 0.9em;
        margin: 1em 0;
    }
    footer {
        text-align: center;
    }
}

.post-header {
    padding-bottom: 2em;
}

.title {
    text-align: center;
    margin-bottom: 0;
}

.about {
    font-style: italic;
    text-align: center;
    color: lighten($text-color, 20%);
}

.signature {
    font-style: italic;
    text-align: right;
    color: lighten($text-color, 20%);
    margin: 0 25% 0 0;
}

.post-content {
    margin: 0 0.5em;
}

.image-left {
    float: left;
    padding-right: 1em;
}

.image-right {
    float: right;
    padding-left: 1em;
}

.image-center {
    text-align: center;
    font-size: 0.8em;
    margin-bottom: 1em;
    img {
        max-width: 100%;
        display: block;
        margin: 0 auto 0.3em auto;
    }
}

img.shadow {
    box-shadow: 0 0 .1em .1em rgba(0,0,0,.1);
}

img.no-shadow {
    box-shadow: none;
}

table {
    width: 100%;
    margin: 0 0 1em 0;
    th {
        padding: 0.3em;
    }
    td {
        padding: 0.3em;
        border-top: 1px solid #bbb;
    }
}

ol, ul {
    ol, ul {
        margin-bottom: 0;
    }
}

iframe {
    display: block;
    margin: 0 auto 1em;
    box-shadow: 0 0 .1em .1em rgba(0,0,0,.1);
}
