<!DOCTYPE html>
<html class="no-js">
{% include head.html %}
<body>
    {% include header.html %}
    <div class="underlay">
        <div class="content">
          {{ content }}
        </div>
    </div>
    <div class="underlay">
        <div class="content">
          {{ content }}
        </div>
    </div>
    <div class="underlay">
        <div class="content">
          {{ content }}
        </div>
    </div>
    <div class="underlay">
        <div class="content">
          {{ content }}
        </div>
    </div>
    <div class="underlay">
        <div class="content">
          {{ content }}
        </div>
    </div>
  {% include footer.html %}
</body>
</html>
