<!DOCTYPE html>
<html class="no-js">
{% include head.html %}
<body>
    {% include header.html %}
    <div id="landscape">
        <div id="page-container">
            <div class="underlay">
                <div class="content">
                  {{ content }}
                </div>
            </div>
            <div class="underlay">
                <div class="content">
                  {{ content }}
                </div>
            </div>
            <div class="underlay">
                <div class="content">
                  {{ content }}
                </div>
            </div>
            <div class="underlay">
                <div class="content">
                  {{ content }}
                </div>
            </div>
            <div class="underlay">
                <div class="content">
                  {{ content }}
                </div>
            </div>
        </div>
        {% include footer.html %}
    </div>
    <img id="rex" src="/img/rex/rex-main.png"></img>
</body>
</html>
