<!DOCTYPE html>
<html class="no-js">
{% include head.html %}
<body>
    <div id="landscape">
        {% include header.html %}
        <div id="page-container">
            <div class="underlay">
                <div class="content">
                  {{ content }}
                </div>
            </div>
            <div class="underlay">
                <div class="content">
                  {{ content }}
                </div>
            </div>
            <div class="underlay">
                <div class="content">
                  {{ content }}
                </div>
            </div>
            <div class="underlay">
                <div class="content">
                  {{ content }}
                </div>
            </div>
            <div class="underlay">
                <div class="content">
                  {{ content }}
                </div>
            </div>
        </div>
        {% include footer.html %}
    </div>
    <img id="rex" src="{{ "/img/rex/rex-main.png" | prepend: site.baseurl }}"></img>
</body>
</html>
