* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
    background-image: $lighter-texture;
    background-color: #bfefff;
    background-attachment: fixed;
    height: 100%;
}

::selection {
  background: $selection-color;
}
::-moz-selection {
  background: $selection-color;
}
body {
  color: $text-color;
  font-family: $font-family;
  font-size: $font-size;
  word-wrap: break-word;
  padding-top: 1em;
  height: 100%;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
  margin: 0.67em 0;
}
a {
    color: $link-color;
    text-decoration: none;
}
a:hover {
  @include link-hover($link-color);
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.15em;
}
p, ol, ul, dl {
  line-height: 1.5;
  margin-bottom: 1em;
}
ol, ul {
    padding-left: 2em;
}

.page-link {
    font-weight: bold;
    font-size: 0.9em;
}
