// Typography
$font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-size: 1.25em;

// Brand colours
$brand-color: #fff;
$background-color: #fff;
$border-color: rgba(0, 0, 0, 0.1); // rgba recommended if using feature images

// Typography colours
$text-color: #383838;
$link-color: #92b1d0;
$selection-color: #d4d4d4; // visible when highlighting text

// Header colours
$header-link-color: #383838;
