$font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-size: 1.25em;

$brand-color: #fff;
$background-color: #55acee;
$border-color: rgba(0, 0, 0, 0.1);

$text-color: #383838;
$link-color: #339900;
$selection-color: #339900;
$header-link-color: #f8f8ff;
$footer-color: #f8f8ff;

$dark-texture: url(/img/dark_texture.png);
$light-texture: url(/img/light_texture.png);
$lighter-texture: url(/img/lighter_texture.png);

$landscape-image: url(/img/landscapes/jungle-and-mtn.png);
