$font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-size: 1.25em;

$brand-color: #fff;
$background-color: #fff;
$border-color: rgba(0, 0, 0, 0.1);

$text-color: #383838;
$link-color: #339900;
$selection-color: #00cc33;
$header-link-color: #fff;

$light-texture: url(/img/light_texture.png);
$dark-texture: url(/img/dark_texture.png);
